.App { 
  height: 100vh;
  width: 100vw;

}
@media (max-width: 500px){
 .App {
  background-position-x: -300px;
 }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
